In [4]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.kinokuniya.co.jp/f/dsd-101005021--'
res = requests.get(url)

res.text
soup = BeautifulSoup(res.text, 'html.parser')

book_div = soup.select_one('.list_area_wrap')

books_a_span = book_div.select('a img.mb05,span.sale_price')

pairs = list(zip(books_a_span[0::2],books_a_span[1::2]))
book = pairs[0]


data = []

for book in pairs:
  names, prices = book
  name = names.get('alt','').strip()

  price = prices.get_text(strip=True) 

  price = int(price.replace('¥', '').replace(',', ''))

  one_data = {
  'name': name,
  'price': price
  }
  data.append(one_data)

In [5]:
data

[{'name': 'ショパン コミック版\u3000世界の伝記', 'price': 1320},
 {'name': 'テーレマコス', 'price': 2640},
 {'name': '最高の夏休み', 'price': 3960},
 {'name': 'ＩＮＮＵ（５）', 'price': 792},
 {'name': 'クソキモカタルシス(話売り)\u3000#9', 'price': 165},
 {'name': 'ディグイット\u3000分冊版（７）', 'price': 220},
 {'name': 'ああ、生きているって素晴らしい【タテヨミ】 第63話 挑戦 ジャンプコミックスDIGITAL', 'price': 61},
 {'name': 'いろいろなハナシ 1', 'price': 176},
 {'name': 'ヒトグイ\u300045話', 'price': 77},
 {'name': 'ヒトグイ\u300056話', 'price': 77},
 {'name': '浮世島 (1) バンブーコミックス', 'price': 880},
 {'name': 'げきおこシュリケン', 'price': 176},
 {'name': '不夜城の一等星 2', 'price': 250},
 {'name': '予知視 76 ズズズキュン！', 'price': 110},
 {'name': '不夜城の一等星 3', 'price': 250},
 {'name': 'オドのための備忘録 Ⅰ', 'price': 550},
 {'name': '奈楽荘\u3000第27話\u3000地獄-急-【タテヨミ】 ホンコミックス', 'price': 61},
 {'name': 'アカテン教師 梨本小鉄 3', 'price': 880},
 {'name': 'みっしょん！！（５）', 'price': 792},
 {'name': '到達のアクタ（２）', 'price': 792}]

In [7]:
!pip3 install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.3-cp39-cp39-macosx_11_0_arm64.whl (10.8 MB)
     |████████████████████████████████| 10.8 MB 8.4 MB/s eta 0:00:01
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     |████████████████████████████████| 347 kB 28.7 MB/s eta 0:00:01
Collecting numpy>=1.22.4
  Downloading numpy-2.0.2-cp39-cp39-macosx_14_0_arm64.whl (5.3 MB)
     |████████████████████████████████| 5.3 MB 24.6 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/abcde/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 27.7 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-2.0.2 pandas-2.3.3 pytz-2025.2 tzdata-2025.2
WARNING: You are using pip version 21.2.4; however, version 25.3 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

In [9]:
import pandas as pd
df = pd.DataFrame(data)

In [10]:
df.head()

                name  price
0   ショパン コミック版　世界の伝記   1320
1             テーレマコス   2640
2             最高の夏休み   3960
3            ＩＮＮＵ（５）    792
4  クソキモカタルシス(話売り)　#9    165

In [12]:
df = df.rename(columns={'name':'書名','price':'価格'})

In [14]:
df.head()

                  書名    価格
0   ショパン コミック版　世界の伝記  1320
1             テーレマコス  2640
2             最高の夏休み  3960
3            ＩＮＮＵ（５）   792
4  クソキモカタルシス(話売り)　#9   165

In [15]:
df.to_csv('books.csv',index=False,encoding='utf-8-sig')